*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;align-content: center;
}
.grid-header div{
    justify-content: center;
}